 container {
    display: grid;
    grid-template-columns:1fr 2fr 3fr 4fr 5fr 6fr 7fr 8fr;
    grid-template-rows: 1fr 2fr 3fr 4fr 5fr 6fr 7fr 8fr;
    grid-template-areas: "black black black black black black, black, black"  
                         "white white white white"
                         "red red red"
                         "orange"
                         "yellow" 
                         "green"
                         "cyan"
                         "blue"
                         "violet"
                         "purple"
                         "white"
                         "red"
                         "orange"
                         "yellow" 
                         "green"
                         "cyan"
                         "blue"
                         "violet violet violet "
                         "purple purple purple";
    min-height: 100vh;
    }
  
    black {
          grid-colum: 1fr/8fr;
          grid-row: 1fr/8fr;
          background-color: black;
     }
        white {
          grid-colum: 2fr;
          grid-row: 2fr;
          background-color: white; 
}

    red {gird-area: red
          grid-colum: 2fr;
          grid-row: 2fr;
          background-color: red;    
    }

    orange {
          grid-colum: 2fr;
          grid-row: 2fr;
          background-color: orange;    
    }
     yellow {
          grid-colum: 2fr;
          grid-row: 2fr;
          background-color: yellow;    
    }


 green {
          grid-colum: 2fr;
          grid-row: 2fr;
          background-color: green;    
    }

 cyan {
          grid-colum: 2fr;
          grid-row: 2fr;
          background-color: cyan;    
    }

 blue {
          grid-colum: 2fr;
          grid-row: 2fr;
          background-color: blue;    
    }
 violet {
          grid-colum: 2fr;
          grid-row: 2fr;
          background-color: violet;    
    }

 purple {
          grid-colum: 1fr;
          grid-row: 8fr;
          background-color: purple; 
    }
