 .body {
    display: grid;
    grid-template-columns:1fr 2fr 3fr 4fr 5fr 6fr 7fr 8fr;
    grid-template-rows: 1fr 2fr 3fr 4fr 5fr 6fr 7fr 8fr;
    grid-template-areas: "black black black black black black, black, black"  
                         "white"
                         "red"
                         "orange"
                         "yellow" 
                         "green"
                         "cyan"
                         "blue"
                         "violet"
                         "purple"
                         "white"
                         "red"
                         "orange"
                         "yellow" 
                         "green"
                         "cyan"
                         "blue"
                         "violet"
                         "purple";
    min-height: 100vh;
    background-color: grey
    }
  
    .red {
          grid-colum: 2fr;
          grid-row: 2fr;
          background-color: red; 
          
    }

    purple 
          grid-colum: 2fr;
          grid-row: 2fr;
          background-color: purple; 
          
    }
