header {   background-color: #D2B48C;
         height: 150px; background-image: url("https://raw.githubusercontent.com/Nick0503/CIS216/main/module07/image/javajamlogo.jpg");
         background-repeat: no-repeat; }

main { padding-left: 2em;
       padding-right: 2em;
       padding-bottom: 2em; }


body   { background-color: #b89e81; 
         color: #221811;
         font-family: Arial, Verdana, sans-serif; 
         background-image: url("https://raw.githubusercontent.com/Nick0503/CIS216/main/module07/image/background.gif") }
   
  
h1  { background-color: #D2B48C;
       text-align: center; 
       padding-top: 45px; padding-left: 220px; font-size: 3em;}

h4 { background-color: #D2B48C; 
     font-size: 1.2em;
     left-padding: .5em;
        bottom-padding: .25em; }

nav { font-weight: Bold;
     font-size: 1.5em;
     top-padding: 10px;
     text-align: center; 
     text-decoration: none;}

footer { background-color: #D2B48C;
        font-size: .60em; 
        font-style: italic;
        bottom-padding: 10px;
        border-top: 2px; solid #221811;
              text-align: center; }

wrapper {width: 80%;
         marign-right: auto; margin-left: auto;
         background-color: #FEF6C2; min-width: 900px;
         max-width: 1280px; box-shadow: 3px 3px #666;}


details { left-padding: 20%;
          right-padding: 20%; }


p { left-padding: 10px;
 right-padding: 10px; }
